/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-08, 12:44:15
    Author     : Tomasz Jacek
*/

@mixin position($position, $index) {
    position: $position;
    z-index: $index;
}

