/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-08, 14:48:44
    Author     : Tomasz Jacek
*/
@media (max-width: 1500px) {
    .slider {
        height: 350px;
    }
}
@media (max-width: 1170px) {
    .slider {
        height: 280px;
    }
    .container {
        width: 900px;
        .form-col, .contact-col {
            margin: 0 auto;
        }
        .contact-col {
            padding-left: 0;
        }
    }
}
@media (max-width: 970px) {
    .slider {
        height: 220px;
    }
    .form {
        .appointment-type {
            input, label {
                display: block;
            }
            input {
                margin: 15px auto 0;
            }
        }
        input {
            &.block-btn {
                float: none;
                margin: 0 auto;
            }
        }
    }
    .container {
        width: 320px;
    }
    .form-col, .contact-col {
        width: 100%;
    }
    .files {
        display: flex;
        .file-wrapper {
            margin: 0 auto 25px;
        }
    }
}
