/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-08, 12:50:39
    Author     : Tomasz Jacek
*/

$brand-color: #2665e9;
$alt-brand-color: #e8191e;
$border-check-color: #535353;
$border-footer-color: #767676;

$max-input-width: 520px;
$form-col-width: 660px;

