/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-08, 09:35:16
    Author     : Tomasz Jacek
*/
@import 'partials/mixins.scss';
@import 'partials/variables.scss';
  
body {
    @include position(relative, 1001);
    background-color: #141414;
    color: #fff;
    font: {
        size: 16px;
        family: 'Oswald', sans-serif;
    }
    margin: -15px 0 0;
    padding: 0;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinner {
    @include position(fixed, 1002);
    background-color: rgba(#000, .8);
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    img {
        font: {
            size: 46px;
        }
        width: 50px;
        -webkit-animation: rotating 1.5s linear infinite;
        -moz-animation: rotating 1.5s linear infinite;
        -ms-animation: rotating 1.5s linear infinite;
        -o-animation: rotating 1.5s linear infinite;
        animation: rotating 1.5s linear infinite;
    }
}
.messager-errors {
    width: 100%;
    .success {
        margin-bottom: 50px;
        text-align: center;
        h3, p {
            text-transform: uppercase;
        }
        h3 {
            font: {
                size: 43px;
                weight: 400;
            }
            margin: 40px 0 15px;
        }
        p {
            font: {
                size: 23px;
            }
            margin: 0;
        }
        img {
            margin: 0 auto;
        }
    }
    .error {
        color: darkred;
    }
}
a {
    color: #fff;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
.c {
    clear: both;
}
.slider {
    background: url("../assets/img/slider.jpg?ver=2") no-repeat;
    background-size: cover;
    background-position: top center;
    margin: 0 0 55px;
    height: 444px;
    width: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 1140px;
}
.form-col, .contact-col {
    float: left;
}
.form-col {
    width: $form-col-width;
}
.contact-col {
    padding-top: 70px;
    width: calc(100% - #{$form-col-width} - 100px);
    h3 {
        font: {
            size: 24px;
        }
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    p {
        text-transform: uppercase;
        &.ceo {
            font: {
                size: 19px;
            }
        }
    }
}
.form-col {
    margin-bottom: 55px;
}
h2 {
    font: {
        size: 35px;
        weight: 400;
    }
    margin: 0 0 35px;
    text-transform: uppercase;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #000 !important;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    -webkit-text-fill-color: #fff !important;
}
.form {
    padding: 0 10px;
    textarea {
        background-color: #000;
        border: none;
        width: 100%;
        outline: none;
        height: 90px;
        padding: 25px;
        resize: none;
        max-width: $max-input-width;
        color: #fff;
    }
    .appointment-type {
        input, label {
            display: inline-block;
            height: 50px;
        }
        label {
            font: {
                size: 25px;
            }
            margin: 0 15px 0 0;
        }
        input {
            &#zlot-trigger:checked:after {
                background-color: $alt-brand-color;
                border-color: $alt-brand-color;
            }
        }
    }
    .blocked-input {
        @include position(relative, 1001);
        $value: 150px;
        display: inline-block;
        height: 64px;
        margin: 0 20px 0 0;
        vertical-align: top;
        width: $value;
        input {
            @include position(absolute, 1002);
            opacity: 0;
            &:after {
                display: none;
            }
        }
        &:after {
            border: 4px solid $border-check-color;
            color: $border-check-color;
            cursor: pointer;
            display: flex;            
            content: "Drift";
            align-items: center;
            justify-content: center;
            font: {
                family: "Oswald";
                size: 28px;
            }
            text-transform: uppercase;
            height: 45px;
            width: $value;
            opacity: 1;
        }
        &.checked {
            @include position(relative, 1001);
            &:before {
                @include position(absolute, 1002);
                content: "\f00c";
                display: block;
                left: 14%;
                top: 27%;
                bottom: 0;
                color: #fff;
                font: {
                    family: FontAwesome;
                    size: 20px;
                }
                visibility: visible;
            }
            &:after {
                background-color: $brand-color;
                border-color: $brand-color;
                color: #fff;
            }
            &:first-child {
                &:hover:after {
                    color: #fff;
                }
            }
            &:last-child {
                &:hover:after {
                    color: #fff;
                }
                &:after {
                    background-color: $alt-brand-color;
                    border-color: $alt-brand-color;
                    color: #fff;
                }
            }
        }
        &:first-child {
            &:hover:after {
                border-color: $brand-color;
                color: $brand-color;
            }
        }
        &:last-child {
            &:hover:after {
                border-color: $alt-brand-color;
                color: $alt-brand-color;
            }
        }
        &:first-child, &:last-child {
            &:after {
                transition: border .2s background .2s;
            }
            &:checked {
                &:after {
                    color: #fff;
                }
            }
        }
        &:last-child:after {
            content: "Zlot";
        }
    }
    input {
        display: block;
        outline: none;
        &.text-input {
            background-color: #000;
            border: none;
            color: #fff;
            height: 50px;
            padding: 0 25px;
            width: 100%;
            max-width: $max-input-width;
        }
        &.normal-radio-input, &.blocked-input {
            display: inline-block;
            vertical-align: middle;
        }
        &.square-check {
            cursor: pointer;
            opacity: 0;
        }
        &.block-btn {
            background-color: transparent;
            border: 2px solid $brand-color;
            color: #fff;
            cursor: pointer;
            display: flex;
            font: {
                family: 'Oswald';
                size: 26px;
            }
            align-items: center;
            justify-content: center;
            float: right;
            margin-top: 25px;
            text-transform: uppercase;
            transition: background-color .3s;
            height: 50px;
            width: 156px;
            &:hover {
                background-color: $brand-color;
            }
        }
        &.alt-block-btn {
            border-color: $alt-brand-color;
            &:hover {
                background-color: $alt-brand-color;
            }
        }
    }
    .radio-wrapper {
        margin-bottom: 28px;
        .radio-input-wrapper {
            @include position(relative, 1001);
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
            input {
                opacity: 0;
            }
            &:after {
                @include position(absolute, 1002);
                border: 2px solid $border-check-color;
                border-radius: 50%;
                content: "";
                display: block;
                height: 15px;
                width: 15px ;
                top: 2px;
                left: 1px;
                opacity: 1;
            }
            &:before {
                @include position(absolute, 1002);
                background-color: $brand-color;
                border-radius: 50%;
                content: "";
                display: block;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 10px;
                opacity: 0;
                width: 10px;
            }
            &.checked {
                &:after {
                    border-color: $brand-color;
                }
                &:before {
                    opacity: 1;
                }
            }
            &.normal-radio-input {
                @include position(relative, 1001);
                cursor: pointer;
                height: 18px;
                width: 20px;
                margin: 8px 10px 15px 0;
                vertical-align: middle;
                visibility: hidden;
            }
        }
    }
    .files {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        max-width: calc(#{$max-input-width} + 50px);
        width: 100%;
        .file-wrapper {
            @include position(relative, 1001);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 135px;
            width: 173px;
            .text {
                @include position(relative, 1003);
                color: #fff;
                max-width: 135px;
                text-align: center;
                word-break: break-all;
            }
            &:after {
                @include position(absolute, 1002);
                background-color: #000;
                content: "";
                width: 100%;
                height: 100%;
                visibility: visible;
                z-index: 1001;
            }
        }
        input.file-input {
            @include position(absolute, 1004);
            cursor: pointer;
            display: inline-flex;
            opacity: 0;
            height: 135px;
            width: 170px;
            &:after {
                @include position(absolute, 1002);
                content: "";
                width: 100%;
                height: 100%;
                opacity: 1;
                z-index: 1001;
            }
        }
    }
    select {
        background-color: #000;
        border: none;
        color: #fff;
        font: {
            family: 'Oswald', sans-serif;
        }
        padding: 0 25px;
        height: 50px;
        max-width: calc(#{$max-input-width} + 50px);
        outline: none;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-transform: uppercase;
        width: 100%;
    }
    .select-wrapper {
        @include position(relative, 1001);
        content: "";
        height: 50px;
        max-width: calc(#{$max-input-width} + 50px);
        width: 100%;
        &:after {
            @include position(absolute, 1002);
            content: "\f0d7";
            color: #fff;
            display: block;
            font: {
                family: FontAwesome;
            }
            right: 25px;
            top: 30%;
        }
    }
    label {
        display: block;
        font: {
            family: "Oswald";
            size: 16px;
        }
        letter-spacing: 1px;
        margin: 22px 0 15px;
        text-transform: uppercase;
    }
    .agree {
        max-width: $max-input-width;
        margin-bottom: 25px;
        .input-container {
            display: block;
            width: 100%;
        }
        input {
            height: 10px;
            margin: 15px 10px 0 0;
            width: 22px;
        }
        label, .input-wrapper {
            display: inline-block;
            vertical-align: middle;
        }
        label {
            font: {
                size: 12px;
            }
            margin-bottom: 0;
            &.zlot {
                display: none;
            }
        }

        .input-wrapper {
            @include position(relative, 1001);
            cursor: pointer;
            &:after {
                border: 2px solid $border-check-color;
                content: "";
                display: block;
                height: 15px;
                opacity: 1;
                width: 15px;
                transition: all .3s;
            }
        }
        .input-wrapper-checked {
            &:after {
                background-color: $brand-color;
                border-color: $brand-color;
                content: "";
                color: #fff;
                font: {
                    family: FontAwesome;
                    size: 16px;
                }
                display: flex;
                align-items: center;
                justify-content: center;
                content: "\f00c"     
            }
        }
    }
    .submit-wrapper {
        max-width: calc(#{$max-input-width} + 50px);
        width: 100%;
    }
}
.footer {
    color: $border-footer-color;
    font: {
        size: 12px;
        family: Arial, sans-serif;
    }
    .container {
        border-top: 1px solid $border-footer-color;
        display: flex;
        align-items: center;
        padding: 15px 0 120px;
        justify-content: flex-start;
    }
    img {
        margin-left: 5px;
    }
}
p {
    &.smaller {
        color: #747474;
        font: {
            family: Arial, sans-serif;
            size: 13px;
        }
        margin: -10px 0 15px;
    }
    &.files-label {
        margin-bottom: 10px;
    }
    &.radio-text {
        display: inline-flex;
        align-items: flex-end;
        height: 26px;
        margin: 0 52px 0 0;
        text-transform: uppercase;
        vertical-align: middle;
    }
}

label.zlot, input.zlot, .zlot, textarea#tuning, label#tuning-header, .tuning {
    display: none;
}
.hidden {
    display: none;
}

@import "partials/rwd.scss";
