@charset "UTF-8";
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-08, 09:35:16
    Author     : Tomasz Jacek
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-08, 12:44:15
    Author     : Tomasz Jacek
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-08, 12:50:39
    Author     : Tomasz Jacek
*/
body {
  position: relative;
  z-index: 1001;
  background-color: #141414;
  color: #fff;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  margin: -15px 0 0;
  padding: 0; }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.spinner {
  position: fixed;
  z-index: 1002;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw; }
  .spinner img {
    font-size: 46px;
    width: 50px;
    -webkit-animation: rotating 1.5s linear infinite;
    -moz-animation: rotating 1.5s linear infinite;
    -ms-animation: rotating 1.5s linear infinite;
    -o-animation: rotating 1.5s linear infinite;
    animation: rotating 1.5s linear infinite; }

.messager-errors {
  width: 100%; }
  .messager-errors .success {
    margin-bottom: 50px;
    text-align: center; }
    .messager-errors .success h3, .messager-errors .success p {
      text-transform: uppercase; }
    .messager-errors .success h3 {
      font-size: 43px;
      font-weight: 400;
      margin: 40px 0 15px; }
    .messager-errors .success p {
      font-size: 23px;
      margin: 0; }
    .messager-errors .success img {
      margin: 0 auto; }
  .messager-errors .error {
    color: darkred; }

a {
  color: #fff;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

.c {
  clear: both; }

.slider {
  background: url("../assets/img/slider.jpg?ver=2") no-repeat;
  background-size: cover;
  background-position: top center;
  margin: 0 0 55px;
  height: 444px;
  width: 100%; }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 1140px; }

.form-col, .contact-col {
  float: left; }

.form-col {
  width: 660px; }

.contact-col {
  padding-top: 70px;
  width: calc(100% - 660px - 100px); }
  .contact-col h3 {
    font-size: 24px;
    margin-bottom: 5px;
    text-transform: uppercase; }
  .contact-col p {
    text-transform: uppercase; }
    .contact-col p.ceo {
      font-size: 19px; }

.form-col {
  margin-bottom: 55px; }

h2 {
  font-size: 35px;
  font-weight: 400;
  margin: 0 0 35px;
  text-transform: uppercase; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #000 !important;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-text-fill-color: #fff !important; }

.form {
  padding: 0 10px; }
  .form textarea {
    background-color: #000;
    border: none;
    width: 100%;
    outline: none;
    height: 90px;
    padding: 25px;
    resize: none;
    max-width: 520px;
    color: #fff; }
  .form .appointment-type input, .form .appointment-type label {
    display: inline-block;
    height: 50px; }
  .form .appointment-type label {
    font-size: 25px;
    margin: 0 15px 0 0; }
  .form .appointment-type input#zlot-trigger:checked:after {
    background-color: #e8191e;
    border-color: #e8191e; }
  .form .blocked-input {
    position: relative;
    z-index: 1001;
    display: inline-block;
    height: 64px;
    margin: 0 20px 0 0;
    vertical-align: top;
    width: 150px; }
    .form .blocked-input input {
      position: absolute;
      z-index: 1002;
      opacity: 0; }
      .form .blocked-input input:after {
        display: none; }
    .form .blocked-input:after {
      border: 4px solid #535353;
      color: #535353;
      cursor: pointer;
      display: flex;
      content: "Drift";
      align-items: center;
      justify-content: center;
      font-family: "Oswald";
      font-size: 28px;
      text-transform: uppercase;
      height: 45px;
      width: 150px;
      opacity: 1; }
    .form .blocked-input.checked {
      position: relative;
      z-index: 1001; }
      .form .blocked-input.checked:before {
        position: absolute;
        z-index: 1002;
        content: "\f00c";
        display: block;
        left: 14%;
        top: 27%;
        bottom: 0;
        color: #fff;
        font-family: FontAwesome;
        font-size: 20px;
        visibility: visible; }
      .form .blocked-input.checked:after {
        background-color: #2665e9;
        border-color: #2665e9;
        color: #fff; }
      .form .blocked-input.checked:first-child:hover:after {
        color: #fff; }
      .form .blocked-input.checked:last-child:hover:after {
        color: #fff; }
      .form .blocked-input.checked:last-child:after {
        background-color: #e8191e;
        border-color: #e8191e;
        color: #fff; }
    .form .blocked-input:first-child:hover:after {
      border-color: #2665e9;
      color: #2665e9; }
    .form .blocked-input:last-child:hover:after {
      border-color: #e8191e;
      color: #e8191e; }
    .form .blocked-input:first-child:after, .form .blocked-input:last-child:after {
      transition: border .2s background .2s; }
    .form .blocked-input:first-child:checked:after, .form .blocked-input:last-child:checked:after {
      color: #fff; }
    .form .blocked-input:last-child:after {
      content: "Zlot"; }
  .form input {
    display: block;
    outline: none; }
    .form input.text-input {
      background-color: #000;
      border: none;
      color: #fff;
      height: 50px;
      padding: 0 25px;
      width: 100%;
      max-width: 520px; }
    .form input.normal-radio-input, .form input.blocked-input {
      display: inline-block;
      vertical-align: middle; }
    .form input.square-check {
      cursor: pointer;
      opacity: 0; }
    .form input.block-btn {
      background-color: transparent;
      border: 2px solid #2665e9;
      color: #fff;
      cursor: pointer;
      display: flex;
      font-family: 'Oswald';
      font-size: 26px;
      align-items: center;
      justify-content: center;
      float: right;
      margin-top: 25px;
      text-transform: uppercase;
      transition: background-color .3s;
      height: 50px;
      width: 156px; }
      .form input.block-btn:hover {
        background-color: #2665e9; }
    .form input.alt-block-btn {
      border-color: #e8191e; }
      .form input.alt-block-btn:hover {
        background-color: #e8191e; }
  .form .radio-wrapper {
    margin-bottom: 28px; }
    .form .radio-wrapper .radio-input-wrapper {
      position: relative;
      z-index: 1001;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle; }
      .form .radio-wrapper .radio-input-wrapper input {
        opacity: 0; }
      .form .radio-wrapper .radio-input-wrapper:after {
        position: absolute;
        z-index: 1002;
        border: 2px solid #535353;
        border-radius: 50%;
        content: "";
        display: block;
        height: 15px;
        width: 15px;
        top: 2px;
        left: 1px;
        opacity: 1; }
      .form .radio-wrapper .radio-input-wrapper:before {
        position: absolute;
        z-index: 1002;
        background-color: #2665e9;
        border-radius: 50%;
        content: "";
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 10px;
        opacity: 0;
        width: 10px; }
      .form .radio-wrapper .radio-input-wrapper.checked:after {
        border-color: #2665e9; }
      .form .radio-wrapper .radio-input-wrapper.checked:before {
        opacity: 1; }
      .form .radio-wrapper .radio-input-wrapper.normal-radio-input {
        position: relative;
        z-index: 1001;
        cursor: pointer;
        height: 18px;
        width: 20px;
        margin: 8px 10px 15px 0;
        vertical-align: middle;
        visibility: hidden; }
  .form .files {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    max-width: calc(520px + 50px);
    width: 100%; }
    .form .files .file-wrapper {
      position: relative;
      z-index: 1001;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 135px;
      width: 173px; }
      .form .files .file-wrapper .text {
        position: relative;
        z-index: 1003;
        color: #fff;
        max-width: 135px;
        text-align: center;
        word-break: break-all; }
      .form .files .file-wrapper:after {
        position: absolute;
        z-index: 1002;
        background-color: #000;
        content: "";
        width: 100%;
        height: 100%;
        visibility: visible;
        z-index: 1001; }
    .form .files input.file-input {
      position: absolute;
      z-index: 1004;
      cursor: pointer;
      display: inline-flex;
      opacity: 0;
      height: 135px;
      width: 170px; }
      .form .files input.file-input:after {
        position: absolute;
        z-index: 1002;
        content: "";
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 1001; }
  .form select {
    background-color: #000;
    border: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding: 0 25px;
    height: 50px;
    max-width: calc(520px + 50px);
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-transform: uppercase;
    width: 100%; }
  .form .select-wrapper {
    position: relative;
    z-index: 1001;
    content: "";
    height: 50px;
    max-width: calc(520px + 50px);
    width: 100%; }
    .form .select-wrapper:after {
      position: absolute;
      z-index: 1002;
      content: "\f0d7";
      color: #fff;
      display: block;
      font-family: FontAwesome;
      right: 25px;
      top: 30%; }
  .form label {
    display: block;
    font-family: "Oswald";
    font-size: 16px;
    letter-spacing: 1px;
    margin: 22px 0 15px;
    text-transform: uppercase; }
  .form .agree {
    max-width: 520px;
    margin-bottom: 25px; }
    .form .agree .input-container {
      display: block;
      width: 100%; }
    .form .agree input {
      height: 10px;
      margin: 15px 10px 0 0;
      width: 22px; }
    .form .agree label, .form .agree .input-wrapper {
      display: inline-block;
      vertical-align: middle; }
    .form .agree label {
      font-size: 12px;
      margin-bottom: 0; }
      .form .agree label.zlot {
        display: none; }
    .form .agree .input-wrapper {
      position: relative;
      z-index: 1001;
      cursor: pointer; }
      .form .agree .input-wrapper:after {
        border: 2px solid #535353;
        content: "";
        display: block;
        height: 15px;
        opacity: 1;
        width: 15px;
        transition: all .3s; }
    .form .agree .input-wrapper-checked:after {
      background-color: #2665e9;
      border-color: #2665e9;
      content: "";
      color: #fff;
      font-family: FontAwesome;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      content: ""; }
  .form .submit-wrapper {
    max-width: calc(520px + 50px);
    width: 100%; }

.footer {
  color: #767676;
  font-size: 12px;
  font-family: Arial, sans-serif; }
  .footer .container {
    border-top: 1px solid #767676;
    display: flex;
    align-items: center;
    padding: 15px 0 120px;
    justify-content: flex-start; }
  .footer img {
    margin-left: 5px; }

p.smaller {
  color: #747474;
  font-family: Arial, sans-serif;
  font-size: 13px;
  margin: -10px 0 15px; }
p.files-label {
  margin-bottom: 10px; }
p.radio-text {
  display: inline-flex;
  align-items: flex-end;
  height: 26px;
  margin: 0 52px 0 0;
  text-transform: uppercase;
  vertical-align: middle; }

label.zlot, input.zlot, .zlot, textarea#tuning, label#tuning-header, .tuning {
  display: none; }

.hidden {
  display: none; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-08, 14:48:44
    Author     : Tomasz Jacek
*/
@media (max-width: 1500px) {
  .slider {
    height: 350px; } }
@media (max-width: 1170px) {
  .slider {
    height: 280px; }

  .container {
    width: 900px; }
    .container .form-col, .container .contact-col {
      margin: 0 auto; }
    .container .contact-col {
      padding-left: 0; } }
@media (max-width: 970px) {
  .slider {
    height: 220px; }

  .form .appointment-type input, .form .appointment-type label {
    display: block; }
  .form .appointment-type input {
    margin: 15px auto 0; }
  .form input.block-btn {
    float: none;
    margin: 0 auto; }

  .container {
    width: 320px; }

  .form-col, .contact-col {
    width: 100%; }

  .files {
    display: flex; }
    .files .file-wrapper {
      margin: 0 auto 25px; } }

/*# sourceMappingURL=styles.css.map */
